@import '../../assets/styles/';

.card-item{
    height: 114px;
    @media only screen and (min-width: 700px) {
        width: 46%;
        height: 114px;
    }
    margin: .5em;
    background-color: color('neutral', '200');
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include tipography('subtitle'); 
    a {
        color: color('neutral', '800');
        text-decoration: unset;
    }
}