@import '../../assets/styles/';

.pagination-container {
    background-color: color('neutral', '200');
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    width: 100%;
    .pagination-left {
        margin-left: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1em;
        justify-content: space-between;
        p {
            @include tipography('caption-bold');  
        }
    }
    .pages{
        display: flex;
        justify-content: center;
        flex-direction: row;
        ul {
            list-style:none; 
        }
        .pagination {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0;
        }
    }
    .pagination-right {
        margin-right: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1em;
        justify-content: space-between;
        p {
            @include tipography('caption-bold');  
        }
    }
}