@import '../../assets/styles/';

.top-header {
    width: 100vw;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color('primary', 'default');
    .title {
        @include tipography('title'); 
        text-transform: uppercase;
        color: color('neutral', '100');
    }
}