@import '../../assets/styles/';

.card-container{
    @media only screen and (min-width: 700px) {
        height: 20em;
    }
    height: 45em;
    padding: 0 2em;
    position: relative;
    margin-top: 1em;
    .card {
        width: 100%;
        height: 100%;
        background-color: color('neutral','100');
        border-radius: 25px;
    }
}