@import '../../assets/styles/';

.card-container{
    @media only screen and (min-width: 700px) {
        height: 20em;
    }
    height: 38em;
    padding: 0 2em;
    position: relative;
    margin: 1em 0;
    .card {
        width: 100%;
        background-color: color('neutral','100');
        border-radius: 25px;
    }
}