@mixin tipography($tipography: 'body') {
    @if($tipography == 'title') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28,13px;
    }
    @if($tipography == 'subtitle') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
    }
    @if($tipography == 'subtitle-bold') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
    }
    @if($tipography == 'caption') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 200;
      font-size: 14px;
      line-height: 18px;
    }
    @if($tipography == 'caption-bold') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
    @if($tipography == 'subtitle-mobile') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
    @if($tipography == 'body') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }
    @if($tipography == 'button') {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }
}