@import '../../assets/styles/';

.card-container{
    .header-container {
        text-transform: uppercase;
        top: 0;
        @include tipography('subtitle-bold'); 
        flex-direction: column;
    }

    .content-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .bottom-container {
        position: absolute;
        bottom: -50px;
        display: flex;
        width: 95%;
        margin-top: 1em;
        justify-content: center;
    }
}